// colors
$ibar-color: #545454;
$ibar-border-color: #f0f0f0;
$white: #fff;
$black: #000;
$black01: #282828;
$grey: #d5d5d5;
$grey01: #a2a2a2;
$blue: #0b4ded;

//spaces
$layout-max-width-px: 1920;
$layout-col-1: calc(20.83333vw - 2.4167rem);
$layout-col-2: calc(100vw - 32px);
$layout-col-3: calc(50vw - 3rem);
$layout-col-4: calc(87.5vw - 30px);
$layout-col-5: calc(83.33333vw - 3.6667rem);

// font
$font-family_1: 'Museo Sans', 'Helvetica', Arial, sans-serif;
